.bookbar {
	width: 100%;
	height: 40px;
	list-style: none;
	padding: 0;
}

.bookbar>li {
	float: left;
	width: 110px;
	height: 30px;
	margin: 0;
	text-align: center;
	padding-top: 15px;
}

.active {
	font-weight: bold;
}

#star a {
	font-size: 2em;
	text-decoration: none;
	color: gray;
}

#star a.on {
	font-size: 2em;
	color: red;
}

.uploadResult {
	width: 100%;
	background-color: white;
	margin-top: 10px;

}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
}

.uploadResult ul li img{
	width: 150px;
}

.MR-contain{
	
	background-color: gray;
	margin-top: 10px;
	 
}

.MR-heading{
	background-color: #E6E6E6;
	padding :10px;
}
.MR-body{
	background-color: gray;
	padding :10px;
	   margin-bottom: 30px;
	   border-radius : 15px;
}


