
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
   
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

p:last-child { margin-bottom: 0; }

.page-wrap { 
    /* max-width: 1400px; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: white;
    
}







.content-box { box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
.text-gray { color: #787676; }

.text-highlight {
    color: #0056b3;
    font-weight: 600;
}

.bg-primary1 { background: #61dafb; }
.bg-highlight { background: #0056b3; }

/* .btn-primary {
    background: #61dafb;
    border: none;
    border-radius: 0;
    outline: none;
} */

.btn-primary:hover { background: #0056b3; }
.top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 50px 35px; }

/* 네비게이션 메뉴 */

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 119px;
    background: white;
}

.top-bar.active {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.top-bar.active .navbar-expand-lg .navbar-nav .nav-link { padding: 20px 35px; }
.top-bar.active .navbar-brand { font-size: 1.4rem; }

.top-bar .navbar-brand img {
    width: 60px;
    height: auto;
}

.top-bar.active .navbar-brand img { width: 40px; }

.top-bar a { color: 61dafb; }


/* 마이페이지 드롭박스 */


.dropdown-menu {
	border-color: #61dafb; 
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .12);
	background: #fff;
	width: 300px;
    border-radius: 25px;
	padding: 0;

	
}

.dropdown-menu show active {
    border: 1px solid #000;
}

.dropdown-menu:after {
	position: absolute;
	left: 15%;
	top: -10px;
	width: 0;
	height: 0;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #61dafb;
	content: '';
}

.header-menu {
	color: #fff;
	background-color: #61dafb;
	width: 100%;
	padding: 14px 26px;
	height: 40px;
	text-transform: uppercase;
	font-size: 90%;
	display: block;
	font-weight: 400;
    line-height: 1.1;
    border-radius: 15px 15px 0 0;
}

.dropdown-menu>li {
	display: block;
	padding: 12px 5px;
	color: #333;
	line-height: 1.9rem;
	margin-bottom: 0;
}

.dropdown-menu>li>a{
    margin-left: 30px;
    color: #383838;
}

.dropdown-menu>li>a:hover {
	color: #61dafb;
}

#header-menu {
	box-sizing: border-box;
	line-height: 1.43;
	width: 100%;
	display: flex;
	padding: 0 16px 30px;
}

/* 드롭박스 내 로그아웃 버튼 */
#sign-out-btn {
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #61dafb;
	background-color: #fff;
	width: 100%;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	border-color: #61dafb;
	transition: all 0.15s ease-in-out 0s;
    margin: 5px 15px;
    text-align: center;
}




/* 로고 컬러 */
.navbar-brand {
    font-size: 2.2rem;   
    color: #61dafb; 
    text-transform: uppercase;    
}

.navbar {
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {	color: #61dafb;	}
.nav-link.active, .nav-link:hover {	

	color: #007bff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler { 
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}

/*메인 배너*/

.banner{
    /* border: 1px solid red; */
    height: 850px;
}

.banner-title {
    font-size: 3rem;
    margin-bottom: 10px;
}
.banner-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    letter-spacing: 1px;
}

.banner-header { color: white; }
.banner-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    /* background: linear-gradient(rgb(121, 193, 204), rgb(190, 224, 208)); */
}
.banner-bg {
    background: url(../img/banner.png) center top no-repeat;    
    min-height: 850px;
    position: relative;
    background-color: skyblue;
    /* background-size: 100%; */

}
.banner-row { 
    position: relative;
    z-index: 100;
    justify-content: center;
    padding-top: 100px;
}
.banner-row-header { text-align: center; }
.down-arrow-link { 
    color: #61dafb;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 15px;
    margin-top: 0px;
    display: inline-block;
}

.down-arrow-link:hover,
.down-arrow-link:focus {
    color: white;
    background-color: #0056b3;
}

/* Search form */
select.select.form-control:not([size]):not([multiple]) { height: 45px; }
.form-control {
    font-size: 0.8rem;
    padding: .75rem;
}
label { font-weight: 700; }
.search-form {
    background-color: hsla(0,0%,100%,.5);
    padding: 25px 25px 15px;
    width: 100%;
    max-width: 830px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.form-group { float: left; }

.form-group-1 { width: 100%; }
.form-group-2 { width: 50%; }
.form-group-3 { width: 20%; }
.form-control { border-radius: 0; }

.uigroup{
	    width: 390px;
}

.leftpadding{
	padding-right: 10px;
}

.info-group{
	float: left;
    width: 20%;
    padding-right: 20px;
    height: 80px;

 }
 
 
 .form-row {

    margin-right: 0px; 
    margin-left: 0px;
 
 }

.form-right{padding-right:10px}

#section-search{
	padding-top: 50px;
}


.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 400;  
    padding: 12px 20px;
}

.btn-white { background: white; }
.btn-white-primary { color: #61dafb; }
.btn-white-highlight { color: #0056b3; }

.btn-white-primary:hover,
.btn-white-primary:focus,
.btn-white-primary:active {
    background: #0056b3;
    color: white;
}

.btn-white-highlight:hover,
.btn-white-highlight:focus,
.btn-white-highlight:active {
    background: #61dafb;
    color: white;
}

.btn-search { width: 100%; }

.btn-search:hover,
.btn-search:active,
.btn-search:focus {
    background: #0056b3;
}

.text-1{
    padding: 6rem!important;
    margin: 0 auto;   
}

.text-2 { 
    background-color: #efefef;
    padding: 6rem!important;
    margin: 0 auto;

}

#section-1{

    height: 1200px;
}


#section-2{
    background-color: #efefef;    
    margin: 0 auto;
    padding-bottom: 50px;
}


.about-text-wrap { max-width: 830px; }

.right {
    display: inline-block;
    float: right;
}

.container-outer {
    /* max-width: 1400px; */
    margin: 0 auto;    
}

.slideshow-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.slideshow-section-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.slideshow { width: 50%; }

.slideshow-description {
    padding: 50px;
    color: white;
    width: 48%;
    z-index: 100;
    margin-left: -42px;
}

.slideshow-description-left {
    margin-left: auto;
    margin-right: -42px;    
}

.position-relative { position: relative; }

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
}

.slick-prev, .slick-next,
.slick-prev:focus,
.slick-prev:active,
.slick-next:focus,
.slick-next:active {
    background: rgba(0,0,0,0.5);    
}

.slick-prev:before, .slick-next:before { font-size: 22px; }

.slick-prev:hover,
.slick-next:hover {
    background: #69c6ba;
}

.slideshow-highlight .slick-prev:hover, 
.slideshow-highlight .slick-next:hover {
    background: #0056b3;
}

.slick-prev {
    left: auto;
    right: 95px;
    z-index: 1000;
}

.right .slick-prev {
    left: 42px;
    right: auto;
}

.slick-next { right: 42px; }

.right .slick-next {
    right: auto;
    left: 94px;
}

/* Tabs */
.tabs-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background: #69c6ba;
}

.tab-link {
    padding: 30px 25px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    height: 100%;
}

.tab-link:hover { color: white; }

.tab-link-li {
    background: transparent;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    transition: all 0.3s ease;    
}

.tab-link:hover,
.tab-link.active {
    background: #0056b3;
}

.tab-pane {
    max-width: 970px;
    margin: 60px auto;
}

.recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
}

.recommended-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;    
}

.recommended-img { width: 270px; }

.recommended-description-box {
    padding: 30px;
    width: 500px;
}

.recommended-price-box {    
    background-color: #69c6ba;
    background-image: url(../img/button-curve.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    width: 200px;
    transition: all 0.3s ease;
}

.recommended-price-box:hover { background-color: #0056b3; }

.recommended-price {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.recommended-price-link {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.d-table { display: table; }

footer {
    background: #61dafb;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;    
    font-size: 0.8rem;
}

footer a { color: #fff; }

footer a:hover { color: #900; }

footer p { color: white; }

.footer-text-highlight {
    color: white;
    font-weight: 600;
}

.footer-text-highlight:hover { color: #0056b3; }

.contact-form {
    background: white;
    width: 470px;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 20px;
    z-index: 1000;
}

.form-control {
    background-color: #f5f5f5;
    border: none;
}

.form-control:focus {
    border-color: #69c6ba;
    box-shadow: 0 0 0 0.1rem #69c6babf;
}

.name-container,
.email-container {
    width: 210px;
    float: left;    
}

.email-container { margin-left: 10px; }

.btn-send {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

#google-map { height: 600px; }

@media screen and (max-width: 1080px) {
    .tab-link-li { width: 25%; }
}

@media screen and (max-width: 1033px) {
    .slideshow-description { width: 55%; }
}

@media screen and (max-width: 991px) {
    .top-bar .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 20px;
        background: white;
    }

    .top-bar, .top-bar-bg { height: auto; }

    #mainNav {
        width: 200px;
        position: absolute;
        top: 53px;
        right: 15px;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        -moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
        box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
    }

    .top-bar {
        height: 60px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
    }

    .top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
    .top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 15px; }

    .top-bar .navbar-brand { 
        font-size: 1.4rem;
        color: #61dafb;
     }

    .top-bar .navbar-brand img {
        width: 60px;
        height: auto;
    }

    .top-bar .navbar-brand img { width: 40px; }

    .tab-pane {
        margin-left: 20px;
        margin-right: 20px;
    }

    .recommended-description-box { width: 450px; }
}

@media screen and (max-width: 986px) {
    .slideshow-section { flex-direction: column; }
    
    .slideshow,
    .slideshow-description {
        width: 100%;
        max-width: 700px;
    }

    .slideshow-description {        
        margin-right: auto;
        margin-left: auto;
    }

    .slick-prev, .slick-next {
        bottom: 0;
        top: auto;
    }

    .contact-form {
        position: static;
        width: 100%;
    }

    .name-container,
    .email-container {
        width: 49%;
    }

    .email-container {
        margin-left: 0;
        float: right;
    }

}

@media screen and (max-width: 860px) {
    .recommended-description-box { width: 350px; }
}

@media screen and (max-width: 826px) {

    .banner-row-header { padding-top: 120px; }

    .recommended-place-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 15px;
    }

    .recommended-place {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .recommended-price,
    .recommended-price-link {
        position: relative;
        z-index: 1000;
    }

    .recommended-price { padding-top: 50px; }

    .recommended-price-box {
        width: 270px;
        height: 180px;        
        position: relative;
        overflow: hidden;
        padding-left: 0;
        background-image: none;
    }

    .recommended-price-box:after {
        content: "";
        position: absolute;
        width: 180px;
        height: 270px;
        top: -45px;
        left: 45px;
        z-index: 27;
        background: url(../img/button-curve.png) 0 0 no-repeat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-size: auto 100%;      
    }

    .recommended-price-box,
    .recommended-price-box:hover {
        background-size: cover;
    }

    .recommended-description-box { width: 270px; }
}


/* 사이즈가 작아졌을때에 여기에 추가할것 */


@media screen and (max-width: 767px) {
    .banner-row {
        padding-top: 120px;
        /* padding-bottom: 50px; */
    }

    .banner-header { margin-top: 100px; }

    .form-group-1,
    .form-group-2,
    .form-group-3 {
        width: 100%;
    }    

    .banner-row{
        padding: 10px;
    }
    #section-1{
        padding-top: 170px;
    }
    #section-2{
        /* padding-top: 1650px; */
        padding-top: 500px;
    }



}

.remove{
    display: none;
}

.add{
    display: block;
}



@media screen and (max-width: 575px){
    #section-2{
        padding-top: 1650px; 
        /* padding-top: 500px; */
    }  
}


/* 추가된 부분 */


.col-md-4{
    margin-bottom: 30px; /*색추가*/
}


#fh5co-tours {
    /*색추가*/
  
    margin-bottom: 30px;
    padding-bottom: 50px;/*색추가*/
    margin-top: 30px;
    padding-top: 50px;
  }
  .fh5co-tours > div { /*컨테이너*/
    display: block;
    color: #000;
    position: relative;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .col-md-8{
    margin-left: 16.66667%;
    height: 400px;
  }






  .fh5co-tours > div img {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 350px;
  }
  .fh5co-tours > div:after {
    opacity: 1;
    visibility: visible;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 8;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .fh5co-tours > div .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 12;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .fh5co-tours > div .desc h3 {
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 30px;
    font-weight: 400;
    visibility: visible;
    margin-bottom: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .fh5co-tours > div .desc span {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
  }
  .fh5co-tours > div .desc .price {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  .fh5co-tours > div .desc .btn {
    opacity: 1;
    border: 2px solid #fff !important;
    color: #fff !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
  }
  .fh5co-tours > div .desc .btn:hover, .fh5co-tours > div .desc .btn:focus, .fh5co-tours > div .desc .btn:active {
    border: 2px solid #61dafb !important;
    background: #61dafb !important;
    color: #fff !important;
  }
  .fh5co-tours > div:hover {
    -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  }
  .fh5co-tours > div:hover:after {
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    -o-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
    background: rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 768px) {
    .fh5co-tours > div:hover:after {
      opacity: 0;
      visibility: hidden;
    }
  }
  .fh5co-tours > div:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  @media screen and (max-width: 768px) {
    .fh5co-tours > div:hover img {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }