<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.AcmMapper">

<resultMap id="AcmVOResult" type="com.ana.domain.AcmVO">
		<result column="acm_Num" property="acmNum" />
		<result column="acm_Name" property="acmName" />
		<result column="acm_City" property="acmCity" />
		<result column="acm_Distr" property="acmDistr" />	
		<result column="acm_Detailaddr" property="acmDetailaddr" />	
		<result column="rep_Phone" property="repPhone" />	
		<result column="biz_Regnum" property="bizRegnum" />	
		<result column="checkin_Time" property="checkinTime" />	
		<result column="checkout_Time" property="checkoutTime" />	
		<result column="acm_Regdate" property="acmRegdate" />	
		<result column="acm_Updatedate" property="acmUpdatedate" />	
		<result column="acm_Phone2" property="acmPhone2" />	
		<result column="acm_Fax" property="acmFax" />	
		<result column="acm_Email" property="acmEmail" />	
		<result column="acm_Desc" property="acmDesc" />	
</resultMap>
<select id="read" resultMap="AcmVOResult">
	select * from tacm where acm_Num = #{acmNum}
</select>

<delete id="delete">
	delete from tacm where acm_Num = #{acmNum}
</delete>

<update id="update">
	update tacm
	set acm_Name=#{acmName},
		acm_City=#{acmCity},
		acm_Distr=#{acmDistr},
		acm_Detailaddr=#{acmDetailaddr},
		rep_Phone=#{repPhone},
		biz_Regnum=#{bizRegnum},
		checkin_Time=#{checkinTime},
		checkout_Time=#{checkoutTime},
		acm_Updatedate = sysdate
		where acm_Num = #{acmNum}
</update>

<select id="getList" resultMap="AcmVOResult" >
<![CDATA[
select * from tacm
]]>
</select>

<insert id="insert">
INSERT INTO TACM(acm_Num, acm_Name, acm_City, acm_Distr, acm_Detailaddr,
 rep_Phone, biz_Regnum, checkin_Time, checkout_Time) 
 VALUES(concat('A',seq_tacm.nextval),#{acmName},#{acmCity}, #{acmDistr}, #{acmDetailaddr},#{repPhone}, 
 #{bizRegnum},#{checkinTime},#{checkoutTime})
</insert>

<insert id = "insertSelectKey">
<selectKey keyProperty="acmNum" order="BEFORE" resultType="String">
select concat('A',seq_tacm.nextval) from dual
</selectKey>

INSERT INTO TACM(acm_Num, acm_Name, acm_City, acm_Distr, acm_Detailaddr,
 rep_Phone, biz_Regnum, checkin_Time, checkout_Time) 
 VALUES(#{acmNum},#{acmName},#{acmCity}, #{acmDistr}, #{acmDetailaddr},#{repPhone}, 
 #{bizRegnum},#{checkinTime},#{checkoutTime})
</insert>

</mapper>