<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.AcmOptionMapper">

	<resultMap id="AcmOptionVOResult" type="com.ana.domain.AcmOptionVO">
		<result column="ACM_NUM" property="acmNum" />
		<result column="ACM_OPTCODE" property="acmOptcode" />
	</resultMap>

	<!-- 숙소 상세페이지: 숙소별 편의시설 목록을 불러온다 -->
	<select id="getList" resultMap="AcmOptionVOResult">
		select * from TACM_OPTION where ACM_NUM = #{acmNum}
	</select>

	<insert id="insert">
		insert into TACM_OPTION(ACM_NUM, ACM_OPTCODE)
		values (#{acmNum}, #{acmOptcode})
	</insert>
	
	

	<select id="read" resultMap="AcmOptionVOResult">
		select * from TACM_OPTION where ACM_NUM =
		#{acmNum}
	</select>

	<update id="update">
		update TACM_OPTION
		ACM_OPTCODE = #{acmOptcode},
		where ACM_NUM = #{acmNum}
	</update>

	<delete id="delete">
		delete TACM_OPTION where ACM_NUM = #{acmNum} and ACM_OPTCODE = #{acmOptcode}
	</delete>
</mapper>
