<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ana.mapper.BookingMapper">

<!-- 
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★1. ResultMap 을 이용한 mybatis ★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	 ResultMap은 DB 필드값과 DTO객체의 프라퍼티(변수)명이 다를 때 사용한다.	  
-->


	<resultMap id="BookingVOResult"
		type="com.ana.domain.BookingVO">
		<result column="book_num" property="bookNum" />
		<result column="user_num" property="userNum" />
		<result column="rom_num" property="romNum" />
		<result column="book_Date" property="bookDate" />
		<result column="checkin_Date" property="checkinDate" />
		<result column="checkout_Date" property="checkoutDate" />
		<result column="staydays" property="staydays" />
		<result column="guest" property="guest" />
		<result column="book_Price" property="bookPrice" />
		<result column="expected_Arr" property="expectedArr" />
		<result column="smoking" property="smoking" />
		<result column="request" property="request" />
		<result column="booker_Lastname" property="bookerLastname" />
		<result column="booker_firstname" property="bookerFirstname" />
		<result column="booker_email" property="bookerEmail" />
		<result column="booker_phone" property="bookerPhone" />
		<result column="book_Status" property="bookStatus" />
	</resultMap>

	<resultMap id="BookStatusVOResult"
		type="com.ana.domain.BookStatusVO">
		<result column="book_num" property="bookNum" />
		<result column="book_Status" property="bookStatus" />
		<result column="updatedate" property="updatedate" />
		<result column="editer" property="editer" />		
	</resultMap>

	<!-- 예약중인 리스트 -->
	<resultMap id="BookVOResult" type="com.ana.domain.BookVO">
		<result column="acm_Name" property="acmName" />
		<result column="book_num" property="bookNum" />
		<result column="rom_Num" property="romNum" />
		<result column="checkin_Date" property="checkinDate" />
		<result column="checkout_Date" property="checkoutDate" />
		<result column="book_Price" property="bookPrice" />
		<result column="book_Status" property="bookStatus" />
	</resultMap>

	<!-- 예약취소상태 -->
	<resultMap id="BookCancelVOResult"
		type="com.ana.domain.BookCancelVO">
		<result column="acm_Name" property="acmName" />
		<result column="book_num" property="bookNum" />
		<result column="rom_Num" property="romNum" />
		<result column="checkin_Date" property="checkinDate" />
		<result column="checkout_Date" property="checkoutDate" />
		<result column="book_Price" property="bookPrice" />
	</resultMap>



	<!-- 예약을 위한 숙소와 객실의 정보 -->
	<resultMap id="AcmRomVOResult" type="com.ana.domain.AcmRomVO">
		<result column="ACM_NUM" property="acmNum" />
		<result column="ACM_NAME" property="acmName" />
		<result column="ACM_CITY" property="acmCity" />
		<result column="ACM_DISTR" property="acmDistr" />
		<result column="ACM_DETAILADDR" property="acmDetailaddr" />
		<result column="REP_PHONE" property="repPhone" />
		<result column="ACM_ACTI" property="acmActi" />
		<result column="CHECKIN_TIME" property="checkinTime" />
		<result column="CHECKOUT_TIME" property="checkoutTime" />
		<result column="SUB_PHONE" property="subPhone" />
		<result column="ACM_FAX" property="acmFax" />
		<result column="ACM_EMAIL" property="acmEmail" />
		<result column="ACM_PURL" property="acmPurl" />
		<result column="ACM_PNAME" property="acmPname" />
		<result column="LATITUDE" property="latitude" />
		<result column="LONGITUDE" property="longitude" />
		<result column="ACM_DESC" property="acmDesc" />
		<result column="ACM_OPTCODE" property="acmOptcode" />

		<result column="ROM_NUM" property="romNum" />
		<result column="ROM_NAME" property="romName" />
		<result column="ROM_CAPA" property="romCapa" />
		<result column="BED_TYPE" property="bedType" />
		<result column="BED_CNT" property="bedCnt" />
		<result column="ROM_SIZE" property="romSize" />
		<result column="ROM_PRICE" property="romPrice" />
		<result column="ROM_PURL" property="romPurl" />
		<result column="ROM_PNAME" property="romPname" />
		<result column="ROM_TYPE" property="romType" />
		<result column="ROM_ACTI" property="romActi" />
		<result column="ROM_OPTCODE" property="romOptcode" />
	</resultMap>

<!-- 
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★2. 회원의 상태 리스트 ★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★	 
-->


	<!-- 1. 예약 모든 리스트 -->
	<select id="getBookListAll" resultMap="BookVOResult">	
	<![CDATA[
	SELECT distinct
    A.ACM_NAME,
    B.BOOK_NUM,
    B.checkin_Date,
    B.cheCkout_Date,
    B.book_Status
	FROM TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
	WHERE B.BOOK_NUM=S.BOOK_NUM AND B.ROM_NUM=R.ROM_NUM AND R.ACM_NUM=A.ACM_NUM AND B.user_num=#{loginUserNum}
	order by to_number(substr(B.BOOK_NUM,2)) 
	]]>
	</select>


	<!-- 2. 예약예정 리스트 -->
	<select id="getBookList" resultMap="BookVOResult">	
	<![CDATA[
	SELECT distinct
    A.ACM_NAME,
    B.BOOK_NUM,
    B.checkin_Date,
    B.cheCkout_Date,
    B.book_Price
	FROM TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
	WHERE B.BOOK_NUM=S.BOOK_NUM AND B.ROM_NUM=R.ROM_NUM AND R.ACM_NUM=A.ACM_NUM AND B.BOOK_STATUS='RS_STT_BK' AND B.user_num=#{loginUserNum}
	order by to_number(substr(B.BOOK_NUM,2)) 
	]]>
	</select>


	<!-- 3. 예약취소 리스트 -->
	<select id="getCancelList" resultMap="BookCancelVOResult">
	SELECT distinct
    A.ACM_NAME,
    B.BOOK_NUM,
    B.checkin_Date,
    B.cheCkout_Date,
    B.book_Price
	FROM TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
	WHERE B.BOOK_NUM=S.BOOK_NUM AND B.ROM_NUM=R.ROM_NUM AND R.ACM_NUM=A.ACM_NUM AND B.BOOK_STATUS='RS_STT_BC' AND B.user_num=#{loginUserNum}
	order by to_number(substr(B.BOOK_NUM,2)) 
	</select>

	<!-- 4. 예약완료 리스트 -->
	<select id="getCheckoutList" resultMap="BookVOResult">
		SELECT distinct
    A.ACM_NAME,
    B.BOOK_NUM,
    B.checkin_Date,
    B.cheCkout_Date,
    B.book_Price
	FROM TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
	WHERE B.BOOK_NUM=S.BOOK_NUM AND B.ROM_NUM=R.ROM_NUM AND R.ACM_NUM=A.ACM_NUM AND B.BOOK_STATUS='RS_STT_AC' AND B.user_num=#{loginUserNum}
	order by to_number(substr(B.BOOK_NUM,2)) 
	</select>


	<!-- 5. 예약번호의 리스트를 불러온다 -->
	<select id="read" resultMap="BookingVOResult">
		select * from tbooking where
		book_Num = #{bookNum}
	</select>


	<!-- 6. U1의 예약 정보를 불러온다 -->
	<select id="getList" resultMap="BookingVOResult">	
	<![CDATA[
	select * from tbooking where user_num='U1'	
	]]>
	</select>





<!-- 
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★3. insert ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★	 
-->



	<!-- 상태에 추가하는 메서드 -->
	<insert id="changeStatus">
		insert into TBOOK_STATUS(book_Num, book_Status, updatedate)
		VALUES(#{bookNum},'RS_STT_BC', sysdate)
	</insert>


<!-- 
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★5. update ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★	 
-->
	


	<!-- 취소버튼 클릭시 변경됨 -->
	<update id="delete">
		update tbooking
		set book_Status='RS_STT_BC'
		where
		book_num=#{bookNum}
	</update>


	<update id="update">
		update tbooking
		set
		user_num = #{userNum},
		rom_num =#{romNum},
		book_Date=#{bookDate},
		checkin_Date=#{checkinDate},
		checkout_Date=#{checkoutDate},
		staydays=#{staydays},
		guest=#{guest},
		book_Price=#{bookPrice},
		expected_Arr=#{expectedArr},
		smoking=#{smoking},
		request=#{request},
		booker_lastname=#{bookerLastname},
		booker_firstname=#{bookerFirstname},
		booker_email=#{bookerEmail},
		booker_phone=#{bookerPhone},
		book_Status=#{bookStatus}

		where
		book_num=#{bookNum}

	</update>



<!-- 
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
	  ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★	 
-->


<!-- 예약과 관련된 숙소와 객실에 대한 정보를 가져온다 (예약페이지, 예약완료페이지) -->
	<select id="getInfo" resultMap="AcmRomVOResult">
		SELECT 
        	A.ACM_NUM, A.ACM_NAME, A.ACM_CITY, A.ACM_DISTR, A.ACM_DETAILADDR, A.REP_PHONE, A.ACM_ACTI, A.CHECKIN_TIME, A.CHECKOUT_TIME, A.SUB_PHONE, A.ACM_FAX, A.ACM_EMAIL, A.ACM_PURL, A.ACM_PNAME, A.LATITUDE, A.LONGITUDE, A.ACM_DESC, A.ACM_OPTCODE, 
        	R.ROM_NUM, R.ROM_NAME, R.ROM_CAPA, R.BED_TYPE, R.BED_CNT, R.ROM_SIZE, R.ROM_PRICE, R.ROM_PURL, R.ROM_PNAME, R.ROM_TYPE, R.ROM_OPTCODE
		FROM TACM  A, TROM R
		WHERE R.ROM_NUM = #{romNum} AND A.ACM_NUM =  R.ACM_NUM
	</select>

<!-- 

	<insert id="insert" parameterType="hashmap">
		<selectKey keyProperty="bookNum" order="BEFORE"
			resultType="String">
			select concat('B',seq_tbook.nextval) from dual
		</selectKey>

		insert all
		into TBOOKING(BOOK_NUM, USER_NUM, ROM_NUM, CHECKIN_DATE,
		CHECKOUT_DATE,
		STAYDAYS, GUEST, BOOK_PRICE, EXPECTED_ARR, SMOKING,
		REQUEST, BOOKER_LASTNAME, BOOKER_FIRSTNAME, BOOKER_EMAIL,
		BOOKER_PHONE, BOOK_STATUS)

		values (
		#{bookNum},
		#{userNum},
		#{romNum},
		#{checkinDate},
		#{checkoutDate},
		#{staydays},
		#{guest},
		#{bookPrice},
		#{expectedArr},
		#{smoking},
		#{request},
		(select ROM_NAME from TROM where
		ROM_NUM= #{romNum}),
		#{bookerLastname},
		#{bookerFirstname},
		#{bookerEmail},
		#{bookerPhone, jdbcType=VARCHAR},
		#{bookStatus})
		into
		tbook_status(book_num, book_status, updatedate)
		values (#{bookNum}, #{bookStatus} ,sysdate)
		select * from dual

	</insert> -->

</mapper>

