<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.RevPostMapper">

<resultMap id="RevDetailVOResult" type="com.ana.domain.RevDetailVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="REV_PURL" property="revPurl" />
		<result column="STISF" property="stisf" />
		<result column="ACM_NUM" property="acmNum" />	
		<result column="BOOK_NUM" property="bookNum" />	
		<result column="CONTENT" property="content" />
</resultMap>

<resultMap id="RevPostVOResult" type="com.ana.domain.RevPostVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="BRD_CODE" property="brdCode" />
		<result column="P_TITLE" property="title" />
		<result column="USER_NUM" property="userNum" />	
		<result column="P_REGDATE" property="regDate" />	
		<result column="P_UPDATEDATE" property="updateDate" />
		<collection property="revDetail" resultMap="RevDetailVOResult"/>
		
</resultMap>


<resultMap id="RevVOResult" type="com.ana.domain.RevVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="BRD_CODE" property="brdCode" />
		<result column="P_TITLE" property="title" />
		<result column="USER_NUM" property="userNum" />	
		<result column="P_REGDATE" property="regDate" />	
		<result column="P_UPDATEDATE" property="updateDate" />
		<result column="REV_PURL" property="revPurl" />
		<result column="STISF" property="stisf" />
		<result column="ACM_NUM" property="acmNum" />	
		<result column="BOOK_NUM" property="bookNum" />	
		<result column="CONTENT" property="content" />
		<result column="ACM_NAME" property="acmName" />
		<result column="CHECKIN_DATE" property="checkInDay" />
		<result column="CHECKOUT_DATE" property="checkOutDay" />
</resultMap>




<select id="getMyList" resultMap="RevVOResult">
 select * from 
        (SELECT
                A.ACM_NAME,
                B.BOOK_NUM,
                B.checkin_Date,
                B.cheCkout_Date,
                b.user_num
                
            FROM 
                TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
            WHERE 
                B.BOOK_NUM=S.BOOK_NUM
            AND 
                B.ROM_NUM=R.ROM_NUM 
            AND 
                R.ACM_NUM=A.ACM_NUM 
            AND 
                B.BOOK_STATUS='RS_STT_AC') al,
                
                (select 
                A.PST_NUM,
                A.BRD_CODE,
                a.p_title,
                a.p_regdate,
                a.p_updatedate,
                a.user_num,
                b.rev_purl,
                B.STISF,
                b.acm_num,
                b.book_num,
                b.content
                
                FROM
                    TREV_POST A
                LEFT JOIN
                    trev_detail B
                ON 
                    a.pst_num = b.pst_num)bk
        
        where al.book_num = bk.book_num(+)
        and al.user_num = #{loginUser}
     
        ORDER BY
         al.checkin_Date

</select>

<!-- 사라진 메소드 - 2차 개발시 삭제예정  -->
<!-- <select id="getBookingList" resultMap="RevVOResult">
    select * from 
        (SELECT
                A.ACM_NAME,
                B.BOOK_NUM,
                B.checkin_Date,
                B.cheCkout_Date,
                b.user_num
                
            FROM 
                TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
            WHERE 
                B.BOOK_NUM=S.BOOK_NUM
            AND 
                B.ROM_NUM=R.ROM_NUM 
            AND 
                R.ACM_NUM=A.ACM_NUM 
            AND 
                B.BOOK_STATUS='RS_STT_AC') al,
                
                (select 
                A.PST_NUM,
                A.BRD_CODE,
                a.p_title,
                a.p_regdate,
                a.p_updatedate,
                a.user_num,
                b.rev_purl,
                B.STISF,
                b.acm_num,
                b.book_num,
                b.content
                
                FROM
                    TREV_POST A
                LEFT JOIN
                    trev_detail B
                ON 
                    a.pst_num = b.pst_num)bk
        
        where al.book_num = bk.book_num(+)
        and al.user_num=   #{loginUser}
        
          
        ORDER BY
         AL.checkin_Date
        
</select> -->





<select id="readByBookNum" resultMap="RevVOResult">
SELECT 
  AL.ACM_NAME,
    AL.BOOK_NUM,
       AL.checkin_Date,
        AL.cheCkout_Date,
        AL.pst_num,
        al.user_nuM,
        AL.acm_num
FROM
    (SElECT
    
        J.ACM_NAME,
        J.BOOK_NUM,
        J.checkin_Date,
        J.cheCkout_Date,
        J.USER_NUM,
        j.acm_num,
        t.pst_num
        
        FROM
        (
            SELECT
                A.ACM_NAME,
                B.BOOK_NUM,
                B.checkin_Date,
                B.cheCkout_Date,
                a.acm_num,
                b.user_num
                
            FROM 
                TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
            WHERE 
                B.BOOK_NUM=S.BOOK_NUM
            AND 
                B.ROM_NUM=R.ROM_NUM 
            AND 
                R.ACM_NUM=A.ACM_NUM 
            AND 
                S.BOOK_STATUS='RS_STT_AC'
        )J,
        trev_detail T
        
        WHERE
        j.book_num= t.book_num(+)
        ) AL,
        TREV_POST PST
        
        
        WHERE
        al.pst_num = pst.pst_num(+)
        AND
        al.book_num =  #{bookNum}
          
        ORDER BY
         AL.checkin_Date
        
</select>


<select id="read" resultMap="RevVOResult">
SELECT 
  AL.ACM_NAME,
    AL.BOOK_NUM,
       AL.checkin_Date,
        AL.cheCkout_Date,
        AL.pst_num,
        al.user_nuM,
        AL.acm_num,
        al.content,
        al.stisf,
        pst.p_title,
        pst.brd_code,
        pst.user_num,
        pst.p_regdate,
        pst.p_updatedate
        
        
FROM
    (SElECT
    
        J.ACM_NAME,
        J.BOOK_NUM,
        J.checkin_Date,
        J.cheCkout_Date,
        J.USER_NUM,
        j.acm_num,
        t.pst_num,
        t.content,
        t.stisf
        
        
        
        FROM
        (
            SELECT
                A.ACM_NAME,
                B.BOOK_NUM,
                B.checkin_Date,
                B.cheCkout_Date,
                a.acm_num,
                b.user_num
                
            FROM 
                TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
            WHERE 
                B.BOOK_NUM=S.BOOK_NUM
            AND 
                B.ROM_NUM=R.ROM_NUM 
            AND 
                R.ACM_NUM=A.ACM_NUM 
            AND 
                S.BOOK_STATUS='RS_STT_AC'
        )J,
        trev_detail T
        
        WHERE
        j.book_num= t.book_num(+)
        ) AL,
        TREV_POST PST
        
        
        WHERE
        al.pst_num = pst.pst_num(+)
        AND
        pst.pst_num = #{pstNum}

        ORDER BY
        AL.checkin_Date
      
</select>

<delete id="delete">
	delete from TREV_POST where PST_NUM = #{pstNum}
</delete>

<update id="update">
	
UPDATE
    TREV_POST
SET
    brd_code = #{brdCode},
    p_title =#{title},
    user_num =#{userNum},
    p_regdate = #{regDate}
WHERE
    PST_NUM = #{pstNum}
		
</update>

<select id="getList" resultMap="RevVOResult" >

SELECT
    A.ACM_NAME,
    B.BOOK_NUM,
    B.checkin_Date,
    B.cheCkout_Date
FROM 
	TBOOKING B, TBOOK_STATUS S, TACM A, TROM R
WHERE 
	B.BOOK_NUM=S.BOOK_NUM 
AND 
	B.ROM_NUM=R.ROM_NUM 
AND 
	R.ACM_NUM=A.ACM_NUM 
AND 
	S.BOOK_STATUS='RS_STT_AC'
    
</select>

<insert id="insert" >


<selectKey keyProperty="pstNum" order="BEFORE" resultType="String">
select SEQ_REV.nextval from dual
</selectKey>

    INSERT ALL
    INTO TREV_POST(PST_NUM, BRD_CODE, P_TITLE, USER_NUM)
    VALUES(#{pstNum},'rev',#{title},#{userNum})  
    INTO TREV_DETAIL(pst_num,  REV_PURL , STISF , ACM_NUM ,BOOK_NUM, CONTENT  )
    VALUES(#{pstNum},#{revPurl},#{stisf},#{acmNum},#{bookNum},#{content}) 
    SELECT * 
    FROM DUAL


</insert>

<select id="getAcmList" resultMap="RevPostVOResult" >
	select 
	A.PST_NUM,
	A.BRD_CODE,
	a.p_title,
	a.p_regdate,
	a.p_updatedate,
	a.user_num,
	b.rev_purl,
	B.STISF,
	b.acm_num,
	b.book_num,
	b.content
	
	FROM
	    TREV_POST A
	LEFT JOIN
	    trev_detail B
	ON 
	    a.pst_num = b.pst_num
    
    WHERE b.acm_num = #{acmNum}
</select>

</mapper>