<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.RevPostMapper">

	<resultMap id="RevDetailVOResult"
		type="com.ana.domain.RevDetailVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="REV_PURL" property="revPurl" />
		<result column="STISF" property="stisf" />
		<result column="ACM_NUM" property="acmNum" />
		<result column="BOOK_NUM" property="bookNum" />
		<result column="CONTENT" property="content" />
	</resultMap>

	<resultMap id="RevPostVOResult"
		type="com.ana.domain.RevPostVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="BRD_CODE" property="brdCode" />
		<result column="P_TITLE" property="title" />
		<result column="USER_NUM" property="userNum" />
		<result column="P_REGDATE" property="regDate" />
		<result column="P_UPDATEDATE" property="updateDate" />
		<collection property="revDetail"
			resultMap="RevDetailVOResult" />
	</resultMap>


	<resultMap id="RevVOResult" type="com.ana.domain.RevVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="BRD_CODE" property="brdCode" />
		<result column="P_TITLE" property="title" />
		<result column="USER_NUM" property="userNum" />
		<result column="P_REGDATE" property="regDate" />
		<result column="P_UPDATEDATE" property="updateDate" />
		<result column="STISF" property="stisf" />
		<result column="ACM_NUM" property="acmNum" />
		<result column="BOOK_NUM" property="bookNum" />
		<result column="CONTENT" property="content" />
		<result column="ACM_NAME" property="acmName" />
		<result column="CHECKIN_DATE" property="checkInDay" />
		<result column="CHECKOUT_DATE" property="checkOutDay" />
		<result column="PST_PURL" property="purl" />
		<result column="PST_PNAME" property="pname" />
		<result column="PST_PREGDATE" property="pregdate" />
		<result column="ACM_PURL" property="acmpurl" />
		<result column="ACM_PNAME" property="acmpname" />
	</resultMap>

	<!-- 내가 쓴 리뷰 갯수 by 세린 -->
	<select id="getMyReviewCount" resultType="int">
	select count (*) from treview where user_num=#{userNum}	
	</select>

	<resultMap id="RevPicVo" type="com.ana.domain.RevPicVO">
		<result column="PST_NUM" property="pstNum" />
		<result column="PST_PURL" property="purl" />
		<result column="PST_PNAME" property="pname" />
		<result column="PST_PREGDATE" property="pregdate" />
	</resultMap>

	<!-- 리뷰삭제 0 -->
	<delete id="delete">
		delete from TREVIEW where PST_NUM = #{pstNum}
	</delete>

	<!-- 리뷰수정0 -->
	<update id="update">

		UPDATE
		TREVIEW
		SET
		p_title =#{title},
		CONTENT
		=#{content},
		STISF=#{stisf}
		WHERE
		PST_NUM = #{pstNum}

	</update>



	<!-- 리뷰등록하기 0 -->
	<insert id="insert">
		<selectKey keyProperty="pstNum" order="BEFORE"
			resultType="String">
			select concat('RV',SEQ_REV.nextval) from dual
		</selectKey>
		INSERT INTO
		TREVIEW(PST_NUM,BRD_CODE,P_TITLE,USER_NUM,STISF,ACM_NUM,BOOK_NUM,CONTENT)
		VALUES(
		#{pstNum},'REV',#{title},#{userNum},#{stisf},#{acmNum},#{bookNum},#{content}
		)



	</insert>




	<!-- 예약번호로 불러오기 0 -->
	<select id="readByBookNum" resultMap="RevVOResult">
		SELECT
		PST.PST_NUM ,
		PST.BRD_CODE ,
		PST.P_TITLE ,
		PST.USER_NUM ,
		PST.P_REGDATE ,
		PST.P_UPDATEDATE ,
		PST.STISF ,
		PST.CONTENT ,
		J.ACM_NUM ,
		J.BOOK_NUM ,
		J.ACM_NAME ,
		J.CHECKIN_DATE ,
		J.CHECKOUT_DATE

		FROM
		(
		SELECT
		A.ACM_NUM ,
		B.BOOK_NUM ,
		A.ACM_NAME ,
		B.CHECKIN_DATE ,
		B.CHECKOUT_DATE
		FROM
		TBOOKING B,
		TACM A, TROM R
		WHERE
		B.ROM_NUM=R.ROM_NUM
		AND
		R.ACM_NUM=A.ACM_NUM
		AND
		B.BOOK_STATUS='RS_STT_AC'
		)J,

		TREVIEW PST

		WHERE
		J.BOOK_NUM =
		pst.BOOK_NUM(+)
		AND
		J.book_num = #{bookNum}

		ORDER BY
		J.checkin_Date

	</select>


	<!-- 나의 리스트 불러오기0 -->
	<select id="getUserBookingACList" resultMap="RevVOResult">

		SELECT
		PST.PST_NUM ,
		PST.BRD_CODE ,
		PST.P_TITLE ,
		J.USER_NUM ,
		PST.P_REGDATE ,
		PST.P_UPDATEDATE ,
		PST.STISF ,
		PST.CONTENT ,
		J.ACM_NUM ,
		J.BOOK_NUM ,
		J.ACM_NAME ,
		J.CHECKIN_DATE ,
		J.CHECKOUT_DATE,
		J.ACM_PURL ,
		J.ACM_PNAME

		FROM
		(
		SELECT
		A.ACM_NUM ,
		A.ACM_PURL ,
		A.ACM_PNAME ,
		B.BOOK_NUM ,
		A.ACM_NAME ,
		B.CHECKIN_DATE ,
		B.CHECKOUT_DATE,
		B.USER_NUM
		FROM
		TBOOKING B,
		TACM A, TROM R
		WHERE
		B.ROM_NUM=R.ROM_NUM
		AND
		R.ACM_NUM=A.ACM_NUM
		AND
		B.BOOK_STATUS='RS_STT_AC'
		)J,

		TREVIEW PST

		WHERE
		J.BOOK_NUM =
		pst.BOOK_NUM(+)
		AND
		J.user_num =#{loginUser}

		ORDER BY
		J.checkin_Date

	</select>

	<!-- 리뷰하나 pstNum으로 불러오기0 -->
	<select id="read" resultMap="RevVOResult">
		SELECT
		PST.PST_NUM ,
		PST.BRD_CODE ,
		PST.P_TITLE ,
		PST.USER_NUM ,
		PST.P_REGDATE ,
		PST.P_UPDATEDATE ,
		PST.STISF
		,
		PST.CONTENT ,
		J.ACM_NUM ,
		J.BOOK_NUM ,
		J.ACM_NAME ,
		J.CHECKIN_DATE ,
		J.CHECKOUT_DATE

		FROM
		(
		SELECT
		A.ACM_NUM ,
		B.BOOK_NUM ,
		A.ACM_NAME ,
		B.CHECKIN_DATE ,
		B.CHECKOUT_DATE
		FROM
		TBOOKING B, TACM A, TROM R
		WHERE
		B.ROM_NUM=R.ROM_NUM
		AND
		R.ACM_NUM=A.ACM_NUM
		AND
		B.BOOK_STATUS='RS_STT_AC'
		)J,

		TREVIEW PST

		WHERE
		J.BOOK_NUM = pst.BOOK_NUM(+)
		AND
		pst.pst_num =
		#{pstNum}

		ORDER BY
		J.checkin_Date

	</select>


	<!-- 리뷰사진불러오기 -->
	<select id="getPhoto" resultMap="RevPicVo">
		SELECT * FROM TREVIEW_PIC WHERE pst_num = #{pstNum}
	</select>
	<!-- 리뷰사진넣기 -->
	<insert id="insertPhoto">
		INSERT INTO TREVIEW_PIC (PST_NUM,PST_PURL,PST_PNAME) VALUES(
		#{pstNum},#{purl},#{pname}
		)
	</insert>
	<!-- 리뷰사진삭제 0 -->
	<delete id="deletePhoto">
		delete from TREVIEW_PIC where PST_NUM = #{pstNum} and
		PST_PNAME =#{pname}
	</delete>
	<!-- 리뷰의 모든사진삭제 0 -->
	<delete id="deleteAllPhoto">
		delete from TREVIEW_PIC where PST_NUM = #{pstNum} 
	</delete>




	<!-- 전체 숙박완료 리스트 (전사용자) 불러오기 -->
	<select id="getList" resultMap="RevVOResult">
		SELECT
		A.ACM_NUM ,
		B.BOOK_NUM ,
		A.ACM_NAME ,
		B.CHECKIN_DATE ,
		B.CHECKOUT_DATE
		FROM
		TBOOKING B, TACM A,
		TROM R
		WHERE
		B.ROM_NUM=R.ROM_NUM
		AND
		R.ACM_NUM=A.ACM_NUM
		AND
		B.BOOK_STATUS='RS_STT_AC'

	</select>



	<!-- 숙소 상세페이지: 숙소별 리뷰 목록을 불러온다 -->
	<select id="getAcmList" resultMap="RevPostVOResult">
		select
		A.PST_NUM,
		A.BRD_CODE,
		a.p_title,
		a.p_regdate,
		a.p_updatedate,
		a.user_num,
		b.rev_purl,
		B.STISF,
		b.acm_num,
		b.book_num,
		b.content

		FROM
		TREV_POST A
		LEFT JOIN
		trev_detail B
		ON
		a.pst_num = b.pst_num

		WHERE b.acm_num = #{acmNum}
	</select>



</mapper>