<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.RomMapper">

	<resultMap id="RomVOResult" type="com.ana.domain.RomVO">
		<result column="ROM_NUM" property="romNum" />
		<result column="ACM_NUM" property="acmNum" />
		<result column="ROM_NAME" property="romName" />
		<result column="ROM_CAPA" property="romCapa" />
		<result column="BED_TYPE" property="bedType" />
		<result column="BED_CNT" property="bedCnt" />
		<result column="ROM_SIZE" property="romSize" />
		<result column="ROM_PRICE" property="romPrice" />
		<result column="ROM_PURL" property="romPurl" />
		<result column="ROM_LOCA" property="romLoca" />
		<result column="ROM_TYPE" property="romType" />
	</resultMap>

	<select id="getAll" resultMap="RomVOResult">
		select * from TROM where ACM_NUM = #{acmNum}
	</select>
	
	<select id="getList" resultMap="RomVOResult">
		select * from (select * from TROM where ACM_NUM = #{acmNum}) where ROM_CAPA >= #{person}
	</select>

	<select id="read" resultMap="RomVOResult">
		select * from TROM where ROM_NUM =
		#{romNum}
	</select>

</mapper>
