<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.RomOptMapper">
	<resultMap id="RomVOResult" type="com.ana.domain.RomOptVO">
		<result column="ROM_NUM" property="romNum" />
		<result column="ROM_OPTCODE" property="romOptcode" />
	</resultMap>

	<!-- 호스트단 -->
	<insert id="insert">
		insert into TROM_OPTION (ROM_NUM, ROM_OPTCODE)
		values (#{romNum}, #{romOptcode})
	</insert>
	
</mapper>
