<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ana.mapper.UserMapper">

	<resultMap type="com.ana.domain.UserVO" id="UserVO">
		<result column="USER_NUM" property="userNum" />
		<result column="EMAIL" property="email" />
		<result column="PWD" property="pwd" />
		<result column="U_LASTNAME" property="uLastname" />
		<result column="U_FSTNAME" property="uFstname" />
		<result column="U_PHONE" property="uPhone" />
		<result column="U_BIRTHDAY" property="uBirthday" />
		<result column="U_PRIV" property="uPriv" />
		<result column="REG_METHOD" property="regMethod" />
	</resultMap>
	

	
	<!-- 이메일 중복 검사 쿼리 -->
	<select id="checkEmail" resultType="int">
		select count(*) from tuser
		where EMAIL= #{email}
	</select> 

	<!-- 유저 정보 읽어오는 쿼리  -->
	<select id="readUser" resultMap="UserVO">
		select * from tuser where USER_NUM = #{userNum}
	</select>

	<!-- 유저 테이블의 모든 유저 정보 가져오는 쿼리 -->
	<select id="getListOfUsers" resultMap="UserVO">
		select * from tuser
	</select>

	<!-- 유저 테이블에 한 행 삽입하는 쿼리  -->
	<insert id="insertUser">
		insert into tuser(USER_NUM, EMAIL, PWD, U_LASTNAME, U_FSTNAME, 
		 U_BIRTHDAY)
		values(concat('U',SEQ_USER.nextval),#{email}, #{pwd}, #{uLastname},
		#{uFstname}, #{uBirthday})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="userNum" order="BEFORE"
			resultType="String">	
		select concat('U',seq_user.nextval) from dual
		</selectKey>
		insert into tuser(USER_NUM, EMAIL, PWD, U_LASTNAME, U_FSTNAME, U_BIRTHDAY)
		values(#{userNum},#{email}, #{pwd}, #{uLastname}, #{uFstname}, #{uBirthday}
		 )
	</insert>

	<!-- 유저 테이블에 해당 유저 번호가진 행 삭제하는 쿼리  -->
	<delete id="deleteUser">
		delete from tuser where USER_NUM = #{userNum}
	</delete>

	<!-- 유저 테이블에 해당 유저 번호 가진 유저 정보 업데이트 하는 쿼리  -->	
	<update id="updateUser">
		update tuser
		set
		EMAIL=#{email},
		PWD=#{pwd},
		U_LASTNAME=#{uLastname},
		U_FSTNAME=#{uFstname},
		U_BIRTHDAY=#{uBirthday}
		 where USER_NUM=#{userNum}
	</update>

</mapper>